.mainDiv {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.selectDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.image {
  width: 35%;
  height: auto;
  min-height: 1px;
  margin-bottom: 2rem;
}

.infoSpan {
  width: 50%;
  padding: 1rem 0px 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  &Left {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 122, 89);
  }
  &Right {
    color: rgb(45, 62, 80);
    background-color: rgb(255, 255, 255);
  }
}