.contentBox {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.whiteBalloon {
  width: 80%;
  height: 80%;
  fill: rgb(255, 255, 255);
  z-index: 3;
}