.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hubspotLogo {
  width: 10vw;
  min-width: 10rem;
}

.mmpBox {
  margin: 3rem 0px;
  display: flex;
  align-items: center;
}

.mmp {
  font-size: 6vw;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.mmpSubtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}