.returnToHomeBox {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  top: 0px;
  left: 0px;

  span {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    z-index: 1;
  }
}

.goBackSvg {
  height: 0.7rem;
  padding-right: 0.5rem;
  fill: rgb(255, 255, 255);
}